<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/cardapio.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Maria Fumaça | Cardapio</title>
        <script src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa|Merienda" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
      
    </head>

    <body>
        <div class="bg">


            <div class="container-fluid">
                <nav class="nav-extended menu">
                    <div class="nav-wrapper">

                        <a href="#!" class="brand-logo center">
                            <img class="imagem" src="../assets/img/nargile.png" alt="">
                        </a>
                        <ul class="right hide-on-med-and-down itensMenu">
                            <li><a href="../../index.html" class="item_menu">Início</a></li>
                            <li><a href="cardapio.html" class="item_menu">Cardápio</a></li>
                            <li><a href="sobre.html" class="item_menu">Quem somos</a></li>
                        </ul>
                        <span class="nav-title">Maria Fumaça Tabacaria & Lounge</span>
                    </div>
                </nav>

                <div class="container">
                    <nav>

                    </nav>
                </div>
            </div>
            <div class="center">

                <div>
                    <h3 class="texto"> Confira nosso cardápio: </h3>
                    <h5 class="texto2">O nosso ambiente é totalmente climatizado<br> para o seu conforto e o espaço
                        amplo<br>
                        para o melhor dos nossos clientes! <br></h5>

                </div>
                <img class="cardapio" src="../assets/img/cardapio.jpg" alt="">


            </div>


        </div>

        <div class="footer">
                <div class="container">
                  <div class="ccoluna" style="-moz-column-count: 2; -webkit-column-count: 2;">
                    <div class="col-lg-4 col-sm-4 col-xs-12">
                      <div class="single_footer">
                        <div class="container-fluid"> 
                        <h4>Services</h4>
                        <ul>
                          <li><a href="#">Lorem Ipsum</a></li>
                          <li><a href="#">Simply dummy text</a></li>
                          <li><a href="#">The printing and typesetting </a></li>
                          <li><a href="#">Standard dummy text</a></li>
                        </ul>
                      </div>
                      </div>
                    </div>
                    <!--- END COL -->
                    
                    <div class="col-md-4 col-sm-4 col-xs-12 ">
                      <div class="single_footer single_footer_address">
                        <h4>Redes Sociais</h4>
                        <div class="social_profilef">
                          <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          </ul>
                        </div>
            
                        <div class="social_profilet">
                          <ul>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          </ul>
                        </div>
            
                        <div class="social_profileg">
                          <ul>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                          </ul>
                        </div>
            
                        <div class="social_profilei">
                          <ul>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!--- END COL -->
                  </div>
                  <!--- END ROW -->
                  <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                      <p class="copyright">Copyright © 2019 <a href="#">www.ejcomp.com.br</a></p>
                    </div>
                    <!--- END COL -->
                  </div>
                  <!--- END ROW -->
                </div>
                <!--- END CONTAINER -->
              </div>

        





        <script src="../assets/js/functions.js"></script>

    </body>

</html>